.SearchBooks {
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: min(100%, 700px);
    margin-inline: auto;
}

.BookPreview {
    display: flex;
    flex-direction: row;
}

.BookPreview .Cover {
    height: 75px;
    width: 50px;
}

.BookPreview .CoverContainer {
    margin-right: 8px;
}

.BookPreview .DetailsContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.BookPreview .DetailsContainer > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}